.play-ex{
    height: 100px;
    width: 100px;
    background-color: red;
}
.play-co{
    height: 50px;
    width: 50px;
    background-color: red;
}

.earn-ex{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.earn-co{
    height: 50px;
    width: 50px;
    background-color: blue;
}

.win-ex{
    height: 100px;
    width: 100px;
    background-color: green;
}
.win-co{
    height: 50px;
    width: 50px;
    background-color: green;
}